- hosts: mgmt_nodes
  become: yes
  tasks:
    - name: Install RKE2 server
      shell: |
        curl -sfL https://get.rke2.io | INSTALL_RKE2_VERSION="v1.30.2+rke2r1" sh -
      args:
        warn: false

    - name: Enable and start rke2-server
      systemd:
        name: rke2-server
        enabled: yes
        state: started

    - name: Export kubeconfig to /root/.kube/config
      shell: |
        mkdir -p /root/.kube
        cp /etc/rancher/rke2/rke2.yaml /root/.kube/config
        chown root:root /root/.kube/config
      args:
        warn: false
