- hosts: mgmt_nodes[0]
  become: yes
  tasks:
    - name: Ensure helm is installed
      shell: |
        curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
      args:
        warn: false

    - name: Install Helmfile
      shell: |
        curl -L https://github.com/helmfile/helmfile/releases/latest/download/helmfile_Linux_x86_64.tar.gz         | tar xz -C /usr/local/bin
      args:
        warn: false

    - name: Apply Helmfile (cert-manager, Rancher, ArgoCD)
      shell: |
        cd /opt/infra-openstack-rancher/helmfile
        KUBECONFIG=/etc/rancher/rke2/rke2.yaml helmfile apply
      args:
        warn: false
