gateway:
  auth:
    type: jupyterhub
    jupyterhub:
      apiToken: some-token-for-dask-gateway-to-talk-to-jupyterhub

  extraConfig:
    dasklimits: |
      c.ClusterConfig.cluster_max_cores = 4
      c.ClusterConfig.cluster_max_memory = 16 * 1024**3
      c.ClusterConfig.cluster_max_workers = 3
      c.ClusterConfig.idle_timeout = 1200
    optionHandler: |
      from dask_gateway_server.options import Options, Integer, Float, String
      def options_handler(options):
          if ":" not in options.image:
              raise ValueError("When specifying an image you must also provide a tag")
          return {
              "worker_cores": options.worker_cores,
              "worker_memory": int(options.worker_memory * 2 ** 30),
          }
      c.Backend.cluster_options = Options(
          Integer("worker_cores", default=1, min=1, max=2, label="Worker Cores"),
          Float("worker_memory", default=4, min=2, max=6, label="Worker Memory (GiB)"),
          String("image", default="quay.io/globalcoast/protocoast-notebook:main", label="Image"),
          handler=options_handler,
      )

traefik:
  service:
    type: ClusterIP
